:root {
    --backgroundColor: #fefdfd;
    --errorMessage: #ff5555;
  
    --hoverBtn: rgba(70, 68, 149, 0.4);
    --shadowBorder: #e7e7e9;
  
    --homePageColor: rgba(93, 67, 158, 0.74);
    --titleColor: #464495;
    --textColor: #23272f;
  
    --blueLink: blue;
    --whiteColor: #fff;
    --blackColor: #23272f;
    --blockquoteColor: rgb(125, 133, 144);
    --blockquotePadding: rgb(48, 54, 61);
  
    --greyColor: #f2f2f2;
    --greyColor100: #b2b0b0;
  
    --overlay: rgba(255, 253, 253, 0.7);
  }
  