.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4% 10%;
  height: 90vh;
}

.about__content h1 {
  color: var(--primaryColor);
}

.about__content h2 {
  color: var(--blackColor);
}

.about__content p {
  line-height: 1.625;
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 16px;
  margin-right: 20px;
}

.first__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.first__section img {
  margin-left: 20px;
  width: 400px;
}
