.home__content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 4% 12% 4% 12%;
  height: 75vh;
}

.home__content h1 {
  color: var(--blackColor);
  font-size: 42px;
}

.home__content h2 {
  color: var(--primaryColor);
  font-size: 36px;
  width: 85%;
}

.home__content img {
  width: 40%;
}

.btn {
  font-size: 16px;
  margin-top: 20px;
  height: 45px;
  width: 30%;
}

.btn__primary {
  background-color: var(--primaryColor);
  color: var(--whiteColor);

  border-radius: 5px;
  border: none;
}

.btn__secondary {
  border: 2px solid var(--primaryColor);
  background-color: var(--whiteColor);
  color: var(--primaryColor);

  border-radius: 5px;

  margin-left: 2%;
}

.btn__primary:hover {
  border: 2px solid var(--primaryColor);
  background-color: var(--whiteColor);
  color: var(--primaryColor);

  border-radius: 5px;

  margin-top: 20px;
  font-size: 16px;
  height: 45px;
}

.btn__secondary:hover {
  background-color: var(--primaryColor);
  color: var(--whiteColor);

  border-radius: 5px;
  border: none;

  margin-top: 20px;
  font-size: 16px;
  height: 45px;
}

.btn__style {
  display: flex;
  justify-content: space-evenly;
}
