name: Deploy React App to AWS Amplify

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.8]

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    
    - name: Install dependencies
      run: npm install

    - name: Update Browserslist DB
      run: npx update-browserslist-db@latest

    - name: Install missing Babel plugin
      run: npm install --save-dev @babel/plugin-proposal-private-property-in-object

    - name: Build React App
      run: npm run build

    - name: Install Amplify CLI
      run: npm install -g @aws-amplify/cli

    - name: Configure Amplify
      run: amplify configure

    - name: Deploy to AWS Amplify
      run: amplify push --yes
      env:
        AWS_SECRET_ID: ${{ secrets.AWS_SECRET_ID }}
        AMPLIFY_SECRET: ${{ secrets.AMPLIFY.SECRET }}
